<div>

    <div class="main-header">
        <div class="main-header-left">
            <span class="user-info">
                Welcome,<br />
            </span>
        </div>
        <div class="main-header-right">
            <div class="user-email">
               Mr. Client
            </div>

            <div class="profile">
                <div class="dropdown dropleft dropdown-icon-hidden" ngbDropdown placement="bottom-right">
                    <span id="dropdownMenuButton" ngbDropdownToggle>
                        <img class="profile-img" src="assets/img/profile/default.png" />
                    </span>
                    <div ngbDropdownMenu role="menu" aria-labelledby="dropdownMenu1" class="dropdown-menu profile-menu">
                        <div class="dropdown-item disabled-item">
                            <div class="row">
                                <div class="col-sm p-0">
                                    <div class="user-email">
                                       abcd@gmail.com
                                    </div>
                                </div>
                                <div class="col-sm p-0">
                                    <div class="profile">
                                        <span id="dropdownMenuButton" (click)="collapseDropdown()">
                                            <img class="profile-img p-1" src="assets/img/profile/default.png" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item disabled-item">Account Information</div>
                        <div class="dropdown-item disabled-item">Abcd <br> merrymitchel124@gmail.com</div>
                        <div class="dropdown-item pt-3">
                            <div class="container p-1">
                                <div class="row">
                                    <div class="col-sm p-0 pr-3">
                                        <button type="button" class="btn btn-info">
                                            <span>
                                                <i class="fa fa-user"></i>
                                            </span>
                                            My Account</button>
                                    </div>
                                    <div class="col-sm p-0">
                                        <button type="button" class="btn btn-outline-info">
                                            <span>
                                                <i class="fa fa-sign-out"></i>
                                            </span>
                                            Sign Out</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-item pt-3 mt-3 review-item">



                        </div>
                    </div>

                </div>
            </div>

        </div>







    </div>


    <ng-container>

    </ng-container>